body {
  color: #212121;
  font-family: Courier, monospace;
  font-size: 16px;
  margin: 0;
}

.header {
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  padding: 8px;
  position: fixed;
  width: 100%;
}

.command-input {
  border: 1px solid #bdbdbd;
  border-radius: 0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  height: 32px;
  padding: 0 4px;
  width: 100%;
}

.content {
  box-sizing: border-box;
  padding: 50px 16px 16px;
}

.variable {
  background-color: #f5f5f5;
  border: 1px solid #bdbdbd;
  margin-top: 16px;
  padding: 8px;
}

.variable-header {
  height: 16px;
  line-height: 16px;
}

.variable-name {
  float: left;
  font-weight: bold;
}

.variable-module-name {
  color: #9e9e9e;
  float: right;
}

.variable-content {
  background-color: white;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  display: block;
  height: 0;
  margin-top: 8px;
  width: 100%;
}
