* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: lightgray;
  font-family: monospace;
  font-size: 14px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

#header {
  background-color: lightgray;
  display: table;
  height: 42px;
  padding: 0 10px;
  position: absolute;
  text-align: center;
  width: 100%;
}

#header > div {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

#header input {
  border: 0;
  height: 26px;
  padding: 0 4px;
  width: 100%;
}

#header input:focus {
  outline-offset: -2px;
}

#header input::-webkit-search-decoration {
  display: none;
}

#content {
  height: 100%;
  padding: 42px 10px 10px;
}

#content > * {
  background-color: white;
}

#module-list {
  -webkit-overflow-scrolling: touch;
  border-right: 1px solid lightgray;
  float: left;
  height: 100%;
  overflow: auto;
  padding-top: 20px;
  width: 280px;
}

.module {
  border-bottom: 6px solid lightgray;
  margin: 0 auto 10px;
  width: 240px;
}

.module > * {
  background-color: white;
  border-left: 6px solid lightgray;
  border-right: 6px solid lightgray;
  width: 100%;
}

.module .header {
  background-color: lightgray;
  height: 28px;
  line-height: 28px;
}

.module .header > * {
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.module .header .variable-name {
  float: left;
  font-weight: bold;
}

.module .header .class-name {
  color: gray;
  float: right;
}

.module .loading {
  font-size: 12px;
}

.module .component {
  border: 0;
  height: 0;
  overflow: hidden;
  vertical-align: bottom;
  width: 100%;
}

.module .accordion-header {
  background-color: lightgray;
}

.module .accordion-content > div {
  border-bottom: 1px solid lightgray;
}

#connection-list {
  -webkit-overflow-scrolling: touch;
  height: 100%;
  overflow: auto;
  padding-top: 20px;
}

.connection {
  border: 1px solid lightgray;
  margin: 0 20px 10px;
  overflow: hidden;
  padding: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#module-list > .spacer, #connection-list > .spacer {
  font-size: 1px;
  line-height: 0;
  padding-top: 10px;
}